<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Hobbies</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <main>
        <h1>Mis Hobbies</h1>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="hobbies.html">Hobbies</a>
            <a href="familia.html">Familia</a>
        </nav>
        <section>
            <h2>Mis hobbies son ver películas, series, salir a caminar y ser parte de la defensa civil colombiana, cuando requieren de mi apoyo. Tengo el cargo de operativo en Circasia, Quindio.</h2>
            <div class="image-container">
                <img src="../assets/images/me dc.jpg" alt="apoyando la defensa civil colombiana">
                <img src="../assets/images/me dcc.jpg" alt="listo en paz y emergencia">
            </div>
        </section>
        <footer   class="footer"> 
            <p class="text">Página realizada por Cristopher Bueno. &copy; Todos los derechos reservados 2024</p>
    
            <ul class="social-icon">
              <li class="icon-elem">
                <a href="https://www.instagram.com/cristopher.bueno.902/profilecard/?igsh=c3ZiY2MzNmhkdmFt" target="_blank" class="icon">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
              <li class="icon-elem">
                <a href= "https://wa.me/573160561564?text=Hola%2C%20c%C3%B3mo%20est%C3%A1s%3F" target="_blank" class="icon">
                  <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
              </li>
              <li class="icon-elem">
                <a href="https://www.facebook.com/cristopher.bueno.902?mibextid=ZbWKwL" target="_blank" class="icon">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              <li class="icon-elem">
                <a href="https:/mail.google.com/mail/?view=cm&fs=1&to=buenocris02@gmail.com&suAsunto&body=Holaaa" target="_blank" class="icon">
               </li>
                  <ion-icon name="mail-outline"></ion-icon> 
                </a>
              </li>
            </ul>
      </footer>

  
      <script
          type="module"
          src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js">  
      </script>
      <script
          nomodule
          src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
      ></script>
</main>
</body>
</html>